
<div class="container" ng-controller="homeCtrl">

  <div class="alert alert-success">
    <strong>All products</strong>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>№</th>
      <th>Name</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th>price</th>
      <th>photo</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in products track by $index">
      <th>{{$index + 1}}</th>
      <th>{{item.name}}</th>
      <th>{{item.category.name}}</th>
      <th>{{item.subcategory.name}}</th>
      <th>{{item.price}}</th>
      <th><img src="{{item.url ? item.url : 'http://www.siyawoman.com/wp-content/uploads/2015/09/product.png' }}" width="50px" height="50px"></th>

    </tr>

    </tbody>
  </table>

  <div class="alert alert-success">
    <strong>My purchases</strong>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>№</th>
      <th>Name</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th>price</th>
      <th>photo</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in myproducts track by $index">
      <th>{{$index + 1}}</th>
      <th>{{item.name}}</th>
      <th>{{item.category.name}}</th>
      <th>{{item.subcategory.name}}</th>
      <th>{{item.price}}</th>
      <th><img src="{{item.url ? item.url : 'http://www.siyawoman.com/wp-content/uploads/2015/09/product.png' }}" width="50px" height="50px"></th>

    </tr>

    </tbody>
  </table>
</div>
