<!DOCTYPE html>
<html ng-app="tracker">
  <head>
    <title><%=typeof title == 'undefined' ? 'Undergraduate Project Web' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--STYLES END-->
  </head>

  <body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand navbar-brand-centered"><a href="/">Undergraduate Project Web</a></div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-brand-centered">
        <ul class="nav navbar-nav">
          <% if(JSON.stringify(session.authenticated)) { %>
          <% if(session.User.role === 'admin') { %>
            <li><a href="/user/panel">Admin panel</a></li>
          <% }%>
          <% }%>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if(JSON.stringify(session.authenticated)) { %>
          <li><a href="/user/logout/">Logout</a></li>
          <%}else{%>
          <li><a href="/user/login/">Login</a></li>
          <li><a href="/user/new/">Registration</a></li>
          <% }%>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <%- body %>


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/angular.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/bootbox.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/validation.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
