<div class="container" ng-controller="loginCtrl">

  <div class="page-name">
    Login
  </div><!-page-name-->

  <div class="container">
    <div class="row">
      <div class='col-md-3'></div>
      <div class="col-md-6">
        <div class="login-box well">
            <div class="form-group">
              <label for="username-email">E-mail</label>
              <input type="text" id="email"  ng-model="user.email" class="form-control" placeholder="E-mail" />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password"  ng-model="user.password" class="form-control" placeholder="Password"/>
            </div>

            <div class="form-group">
              <input type="submit" ng-click="loginSubmit()" class="btn btn-default btn-login-submit btn-block m-t-md" value="Login" />
            </div>

            <div class="form-group">
              <p class="text-center m-t-xs text-sm">Do not have an account?</p>
              <a href="/user/new/" class="btn btn-default btn-block m-t-md">Create an account</a>
            </div>
        </div>
      </div>
      <div class='col-md-3'></div>
    </div>
  </div>

</div><!--container-->





