
<div class="container" ng-controller="userNewCtrl">

  <div class="page-name">
    Registration
  </div><!-page-name-->
  <div class="col-xs-12 col-md-4  col-md-offset-4">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" ng-model="user.name" onpaste="return false;">
      </div>

      <div class="form-group">
        <label for="surname">Surname:</label>
        <input type="text" class="form-control" id="surname" ng-model="user.surname" onpaste="return false;">
      </div>

    <div class="form-group">
      <label for="surname">Email:</label>
      <input type="text" class="form-control" id="email" ng-model="user.email" onpaste="return false;">
    </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password"  ng-model="user.password" onpaste="return false;">
      </div>

      <div class="form-group">
        <label for="confPass">Confirm password:</label>
        <input type="password" class="form-control" id="confPass" onpaste="return false;">
      </div>


    <button type="button" data-toggle = "popover" data-placement = "top"  data-html="true" class="btn btn-success" ng-click="create()">Register</button>

  </div>


</div><!--container-->

