<div class="container" ng-controller="panelCtrl">
<!--/**************************************Category*********************************************************/-->
    <div class="form-group">
      <label for="exampleInputEmail1">Category</label>
      <input type="text" class="form-control" ng-model="category.name"  placeholder="Enter Category">
    </div>

    <button type="submit" class="btn btn-primary" ng-click="saveCategory()">Save category</button>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>№</th>
      <th>Name</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr  ng-repeat="item in categories track by $index">
      <th>{{$index + 1}}</th>
      <th>{{item.name}}</th>
      <th><button type="button" class="btn btn-danger" ng-click="removeCategory(item.id)">Delete</button></th>

    </tr>
    </tbody>
  </table>

 <!-- /********************************************Subcategory***************************************************/-->

    <div class="form-group" style="margin-top: 50px">
      <label for="exampleInputEmail1">Subcategory</label>
      <input type="text" class="form-control"  ng-model="subcategory.name" placeholder="Subcategory">
    </div>

    <button type="submit" class="btn btn-primary" ng-click="saveSubcategory()">Save subcategory</button>


  <table class="table table-striped">
    <thead>
    <tr>
      <th>№</th>
      <th>Name</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in subcategories track by $index">
      <th>{{$index + 1}}</th>
      <th>{{item.name}}</th>
      <th><button type="button" class="btn btn-danger" ng-click="removeSubcategory(item.id)">Delete</button></th>

    </tr>
    </tbody>
  </table>
  <!--/*************************************************************************************************************/-->


  <!-- /********************************************Product***************************************************/-->

  <div class="form-group" style="margin-top: 50px">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control" ng-model="product.name"  placeholder="name">
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Price</label>
    <input type="text" class="form-control" ng-model="product.price"  placeholder="price">
  </div>

  <div class="form-group" >
    <label for="exampleInputEmail1">Category</label>
    <select ng-model="product.category"  class="form-control" ng-options="item.name for item in categories"></select>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">Subcategory</label>
    <select ng-model="product.subcategory"   class="form-control" ng-options="item.name for item in subcategories"></select>
  </div>
  <div class="form-group">
    <input id="photoFile" type="file">
  </div>
  <button type="submit" class="btn btn-primary" ng-click="saveProduct()">Save price</button>


  <table class="table table-striped">
    <thead>
    <tr>
      <th>№</th>
      <th>Name</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th>price</th>
      <th>Photo</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in products track by $index">
      <th>{{$index + 1}}</th>
      <th>{{item.name}}</th>
      <th>{{item.category.name}}</th>
      <th>{{item.subcategory.name}}</th>
      <th>{{item.price}}</th>
      <th><img src="{{item.url ? item.url : 'http://www.siyawoman.com/wp-content/uploads/2015/09/product.png' }}" width="50px" height="50px"></th>
      <th><button type="button" class="btn btn-danger" ng-click="removeProduct(item.id)">Delete</button></th>
    </tr>

    </tbody>
  </table>
  <!--/*************************************************************************************************************/-->


</div>
